**Lab 1**:

**1. Determine the variable types of the following statements:**

In [ ]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Aymeric':'Flaisler', 'Christoph':'Rahmede'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [ ]:
Organizations = [Apple, IBM, Microsoft, Google,Yahoo]

**2.**

**1. Add two giant companies at the end** 

**2. remove the last element (Yahoo) from the list.**

In [ ]:
Temperature = [40, 35, 48, 32, 49, 40, 42, 44, 39, 34, 44, 43, 48, 42, 42, 41, 40]

**3.**

**1. print out the temperature (without repetitions) in ascending order**

**2. print out the temperature (Without repeitions) in descending order**

create a lookup table that helps you to clean your data: 
Do a simple lookup table of four rows that converts abbreviations of genders to the nouns
( M or m --> Male, F or f --> Female).  Use python built-in data structure to achieve that quickly.

**4. Count the number of times 0 appears in the following list**

In [ ]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

**5.  Find the index of 'a' in the mix list.**

In [ ]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

**6. list three variables that can be used as 'dictionary' keys**

**7. What is the difference between a "mutable" and an "immutable" object?**

In [ ]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

**8.  Print the names of the first and last students in the list.**

**9. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.**

**10. Print the length of the student list.**

In [ ]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

**11.how two different ways to combine the student list and numbers list.**

**12. Remove my name from the list and insert your own in the same place.**

In [ ]:
names = ['doug', 'billy', 'Abdulrahman', 'kian', 'sam']

**13. Remove the last element of mix and assign it to a variable.**

In [ ]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]