**Lab 1**:

**1. Determine the variable types of the following statements:**

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Aymeric':'Flaisler', 'Christoph':'Rahmede'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [5]:
type(a) #integer

int

In [6]:
type(b) #float

float

In [7]:
type(c) #list

list

In [8]:
type(d) #dictionary

dict

In [9]:
type(e) #tuple

tuple

In [10]:
type(f) #dictionary

dict

In [11]:
type(g) #boolean

bool

In [12]:
type(h) #boolean

bool

In [16]:
type(i) #string

str

In [15]:
Organizations = [Apple, IBM, Microsoft, Google, Yahoo] # list, however, raises an error, list contents are undefined

NameError: name 'Apple' is not defined

In [22]:
Organizations = ['Apple', 'IBM', 'Microsoft', 'Google', 'Yahoo']

**2.**

**1. Add two giant companies at the end** 

**2. remove the last element (Yahoo) from the list.**

In [23]:
Organizations.extend(['Amazon', 'Facebook'])
Organizations

['Apple', 'IBM', 'Microsoft', 'Google', 'Yahoo', 'Amazon', 'Facebook']

In [24]:
Organizations.remove('Yahoo')
Organizations

['Apple', 'IBM', 'Microsoft', 'Google', 'Amazon', 'Facebook']

In [31]:
Temperature = [40, 35, 48, 32, 49, 40, 42, 44, 39, 34, 44, 43, 48, 42, 42, 41, 40]

**3.**

**1. print out the temperature (without repetitions) in ascending order**

**2. print out the temperature (Without repeitions) in descending order**

In [81]:
x = set(sorted(Temperature))
print(set(x))

{32, 34, 35, 39, 40, 41, 42, 43, 44, 48, 49}

In [82]:
y = list(x)
y.reverse()
print(y)

[49, 48, 44, 43, 42, 41, 40, 39, 35, 34, 32]

create a lookup table that helps you to clean your data: 
Do a simple lookup table of four rows that converts abbreviations of genders to the nouns
( M or m --> Male, F or f --> Female).  Use python built-in data structure to achieve that quickly.

**4. Count the number of times 0 appears in the following list**

In [84]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [85]:
binary.count(0)

16

**5.  Find the index of 'a' in the mix list.**

In [86]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [88]:
mix.index('a')

5

**6. list three variables that can be used as 'dictionary' keys**

**Answer:**  integers, floats, strings

**7. What is the difference between a "mutable" and an "immutable" object?**

**Answer:**  A mutable object can be manipulated after creation or reassignment, while an immutable object can't.

In [105]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

**8.  Print the names of the first and last students in the list.**

In [106]:
print('First:', student_names[0], 'Last:', student_names[-1])

First: s1 Last: s10

**9. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.**

In [107]:
ss = student_names[8] + ' ' + student_names[9]
ss

's9 s10'

**10. Print the length of the student list.**

In [108]:
len(student_names)

10

In [109]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

**11.how two different ways to combine the student list and numbers list.**

In [110]:
#first method
print("first method: ", student_names + numbers)

#second method
ss1 = student_names
ss1.extend(numbers)
print("second method: ", ss1)

first method:  ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]
second method:  ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

**12. Remove my name from the list and insert your own in the same place.**

In [115]:
names = ['doug', 'billy', 'Abdulrahman', 'kian', 'sam']

In [116]:
names.remove('Abdulrahman')
names.insert(0, 'Abdullah')

names

['Abdullah', 'doug', 'billy', 'kian', 'sam']

**13. Remove the last element of mix and assign it to a variable.**

In [ ]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [117]:
last_element = mix.pop(-1)
last_element

(1, 2, 3)